<h1 class="mt-3">Pipes <small>Angular</small></h1>
<hr />
<div class="row">
    <div class="col">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Variable</th>
                    <th>Pipe</th>
                    <th>Salida</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ nombre }}</td>
                    <td>Uppercase</td>
                    <td>{{ nombre | uppercase }}</td>
                </tr>
                <tr>
                    <td>{{ nombre }}</td>
                    <td>Lowecase</td>
                    <td>{{ nombre | lowercase }}</td>
                </tr>
                <tr class="bg-secondary">
                    <td>{{ nombre }}</td>
                    <td>slice:3</td>
                    <td>{{ nombre | slice: 3 }}</td>
                </tr>
                <tr class="bg-secondary">
                    <td>{{ nombre }}</td>
                    <td>slice:0:3</td>
                    <td>{{ nombre | slice: 0:3 }}</td>
                </tr>
                <tr class="bg-secondary">
                    <td>{{ array }}</td>
                    <td>slice:1:5</td>
                    <td>{{ array | slice: 1:5 }}</td>
                </tr>
                <tr>
                    <td>{{ PI }}</td>
                    <td>number</td>
                    <td>{{ PI | number }}</td>
                </tr>
                <tr>
                    <td>{{ PI }}</td>
                    <td>number:'1.0-0'</td>
                    <td>{{ PI | number: "1.0-0" }}</td>
                </tr>
                <tr>
                    <td>{{ PI }}</td>
                    <td>number:'3.0-0'</td>
                    <td>{{ PI | number: "3.0-0" }}</td>
                </tr>
                <tr>
                    <td>{{ PI }}</td>
                    <td>number:'.0-2'</td>
                    <td>{{ PI | number: ".0-2" }}</td>
                </tr>
                <tr class="bg-secondary">
                    <td>{{ porcentaje }}</td>
                    <td>percent</td>
                    <td>{{ porcentaje | percent }}</td>
                </tr>
                <tr class="bg-secondary">
                    <td>{{ porcentaje }}</td>
                    <td>percent: '2.2-2'</td>
                    <td>{{ porcentaje | percent: "2.2-2" }}</td>
                </tr>
                <tr>
                    <td>{{ salario }}</td>
                    <td>currency</td>
                    <td>{{ salario | currency }}</td>
                </tr>
                <tr>
                    <td>{{ salario }}</td>
                    <td>currency: 'EUR'</td>
                    <td>{{ salario | currency: "EUR" }}</td>
                </tr>
                <tr>
                    <td>{{ salario }}</td>
                    <td>currency: 'EUR'</td>
                    <td>{{ salario | currency: "EUR":"symbol-narrow":".0-0" }}</td>
                </tr>
                <tr class="bg-secondary">
                    <td>{{ valorPromesa }}</td>
                    <td>async</td>
                    <td>{{ valorPromesa | async }}</td>
                </tr>
                <tr>
                    <td>{{ fecha }}</td>
                    <td>date</td>
                    <td>{{ fecha | date }}</td>
                </tr>
                <tr>
                    <td>{{ fecha }}</td>
                    <td>date: 'medium'</td>
                    <td>{{ fecha | date: "medium" }}</td>
                </tr>
                <tr>
                    <td>{{ fecha }}</td>
                    <td>date: 'short'</td>
                    <td>{{ fecha | date: "short" }}</td>
                </tr>
                <tr>
                    <td>{{ fecha }}</td>
                    <td>date: 'MMMM - d'</td>
                    <td>{{ fecha | date: "MMMM - d" }}</td>
                </tr>
                <!-- 
                    1. si quieres que el sistema te vuelque FECHAS o el tipo de DIVISA europea, o mejor 
                    dicho que automáticamente detecte tu ubicación, tenemos que instalar 
                    "ng add @angular/localize"
                        1.1 OJO!!, cuando instalamos esto, estamos instalando TODOS los idiomas en nuestra
                        máquina, pero no en nuestra aplicación
                    2. después vamos a nuestro app.module.ts e importamos lo siguiente: 
                        import { registerLocaleData } from '@angular/common';
                        import localEs from '@angular/common/locales/es';
                    3. a continuación creamos la siguiente función, justo después de los
                    imports:
                        registerLocaleData(localEs);
                    4. nos dirigimos al app.module.ts y en providers, añadimos el siguiente objeto:
                        {
                            provide: LOCALE_ID,
                            useValue: 'es'
                        }
                        4.1 OJO!!, tendremos que importar LOCAL_ID en app.module.ts
                -->
                <tr>
                    <td>{{ fecha }}</td>
                    <td>date: 'MMM - dd':'':'en'</td>
                    <td>{{ fecha | date: "MMM - dd":"":"en" }}</td>
                    <!-- añadiendo 'en' indicamos el idioma al que queremos traducir la fecha, siempre y cuando lo tengamos importado en nuestro app.module.ts para su uso -->
                </tr>
                <!-- 
                    para que la fecha aparezca en un tercer idioma, deberemos volver 
                    a nuestro app.module y añadir una nueva importación y función:

                    import localFr from '@angular/common/locales/fr';
                    registerLocaleData(localFr);

                    OJO!! ahora nuestra aplicación tiene el idioma original "inglés", 
                    que fué cambiado a "español" y hemos añadido un tercer idioma "francés"
                -->
                <tr>
                    <td>{{ fecha }}</td>
                    <td>date: 'MMM - dd':'':'fr'</td>
                    <td>{{ fecha | date: "MMM - dd":"":"fr" }}</td>
                </tr>
                <!-- a continuación vamos a crear unas variables dinámicas para cambiar el idioma de la siguiente fecha a través de unos botones -->
                <tr>
                    <td>{{ fecha }}</td>
                    <td>
                        date: 'MMM - dd':'':'{{ idioma }}'
                        <br />
                        <button (click)="idioma = 'es'" class="mr-1 btn btn-primary">
                            Español
                        </button>
                        <button (click)="idioma = 'en'" class="mr-1 btn btn-secondary">
                            Inglés
                        </button>
                        <button (click)="idioma = 'fr'" class="mr-1 btn btn-success">
                            Francés
                        </button>
                    </td>
                    <td>{{ fecha | date: "MMM - dd":"":idioma }}</td>
                </tr>

                <tr>
                    <td colspan="3">
                        <h5>Creando PIPES personalizados</h5>
                    </td>
                </tr>
                <!-- para crear un pipe personalizado "ng g p pipes/capitalizado" -->
                <tr class="bg-secondary">
                    <td>{{ nombre2 }}</td>
                    <td>capitalizado</td>
                    <td>{{ nombre2 | capitalizado: true }}</td>
                </tr>

                <!-- TAREA  -->
                <tr>
                    <td>{{ nombre }}</td>
                    <td>
                        contrasena: {{ activar }}
                        <br>
                        <button (click)="activar = !activar" class="btn btn-outline-primary">Mostrar/ocultar contraseña</button>
                    </td>
                    <td>{{ nombre | contrasena: activar }}</td>
                </tr>
                <!-- FIN TAREA  -->

            </tbody>
        </table>

        <br /><br />

        <h3>SLICE</h3>
        <hr />
        <h5>Array original</h5>
        <ul>
            <li *ngFor="let item of personajes">{{ item }}</li>
        </ul>
        <hr />
        <h5>slice:1:4</h5>
        <ul>
            <li *ngFor="let item of personajes | slice: 1:4">{{ item }}</li>
        </ul>

        <br /><br />

        <h3>JSON</h3>
        <hr />
        <div class="row mb-5">
            <div class="col">
                <!-- la etiqueta pre de bootstrap te permite visualizar un json mas bonito  -->
                <pre>
                    {{ heroe | json }}
                </pre
        >
      </div>
    </div>

    <h3 class="mt-4">DOMSEGURO</h3>
    <hr>
    <h5>Estamos enlazando una web con su enlace en el atributo src="https://www.youtube.com/embed/s5Ovfi_jbtA"</h5>
    <div class="row mb-5">
        <div class="col">
            <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/s5Ovfi_jbtA"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            >
            </iframe>
        </div>
    </div>
    <hr>
    <h5>En este caso, estamos enlazando una web con su enlace en el atributo [src]="videoUrl" a través de una variable dinámica desde el componente.ts</h5>
    <div class="row mb-5">
        <div class="col">
            <iframe
            width="560"
            height="315"
            [src]="videoUrl"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            > <!-- [src]="videoUrl" -> esta es la variable dinámica -->
            </iframe>
            <p>No se muestra nada, ya que el navegador detecta la variable dinámica como algo potencialmente inseguro</p>
        </div>
    </div>
    <hr>
    <h5 class="mt-4">Ahora hemos utilizado una variable dinámica y un pipe para verificar la seguridad del sitio web que estamos hosteando</h5>
    <div class="row mb-5">
        <div class="col">
            <iframe
            width="560"
            height="315"
            [src]="videoUrl | domseguro"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            > <!-- [src]="videoUrl | domseguro" -> esta es la variable dinámica pasandole el pipe -->
            </iframe>
        </div>
    </div>
</div>